# .gitignore

# OS/editor
.DS_Store
.vscode/
.idea/

# Local histories
.Rhistory
.RData
.Rproj.user/

# Logs
*.log
npm-debug.log*

# Node
node_modules/

# Python/local scripts/cache
__pycache__/
*.py[cod]
.venv/
venv/
.scripts/

# Hugo output/cache
public/
docs/
resources/_gen/
.hugo_build.lock
.cache/
.sass-cache/
