<section class="not-prose mt-10" aria-label="Comments">
<script src="https://giscus.app/client.js"
        data-repo="StevenGolovkine/math.md"
        data-repo-id="R_kgDOOeeaoA"
        data-category="Announcements"
        data-category-id="DIC_kwDOOeeaoM4DGTfI"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</section>
